.page__intro{
  padding-top: 0;
  padding-bottom: 92px;
}

@media screen and (max-width:984px) {
  .page__intro{
    padding-bottom: 88px;
  }
}

@media screen and (max-width:568px) {
  .page__intro{
    padding-bottom: 64px;
  }
}