.lead__title{
  max-width: 720px;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width:750px){
  .lead__title{
    max-width: calc(100% - 32px);
    font-size: calc( (100vw - 320px)/(750 - 320) * (96 - 40) + 40px);
    line-height: 1.1;
  }
}

@media screen and (max-width:320px){
  .lead__title{
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}