.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width:1140) {
  .lead__subtitle{
  margin: 0 auto 56px;
  }
}

@media screen and (max-width:750px){
  .lead__subtitle{
    max-width: calc(100% - 32px);
    font-size: calc( (100vw - 320px)/(750 - 320) * (30 - 16) + 16px);
    line-height: calc( (100vw - 320px)/(750 - 320) * (36 - 20) + 20px);
    margin: 0 auto 40px;
  }
}

@media screen and (max-width:320px){
  .lead__subtitle{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}