.cover__title{
  max-width: 560px;
  margin: 0 0 16px;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
}

@media screen and (max-width:750px){
  .cover__title{
    font-size: calc( (100vw - 320px)/(750 - 320) * (72 - 32) + 32px);
    line-height: 1.1;
    margin-bottom: 8px;
  }
}