.page__photo-grid{
  padding-top: 0;
  padding-bottom: 92px;
}

@media screen and (max-width:984px) {
  .page__photo-grid{
    padding-bottom: 88px;
  }
}

@media screen and (max-width:568px) {
  .page__photo-grid{
    padding-bottom: 64px;
  }
}