.page__cover{
    padding-bottom: 92px;
}

@media screen and (max-width:984px) {
  .page__cover{
    padding-bottom: 88px;
  }
}

@media screen and (max-width:568px) {
  .page__cover{
    padding-bottom: 64px;
  }
}